<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css"> <!-- For brand icons like Google Scholar -->

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Sai Ramana Kiran
            </h1>
              <p>
                I am currently wrapping up my Master's in <a href="https://robotics/">Robotics Department</a>, at <a href="https://www.wpi.edu/">Worcester Polytechnic Institute</a>. I primarily work on 3D computer vision for robots at <a href="https://pear.wpi.edu"> PeAR Lab </a> along with my advisor <a href="http://nitin.persnal/"> Prof Nitin Sanket</a>.
              </p>
              <p>
                From 2018 to 2022, I worked at <a href="https://quantitativebrokers.com/">Quantitative Brokers</a> as a senior C++ software developer. I was designing latency sensitive trading systems and algorithms for fast algorithmic execution.
              </p>
              <p>
                I got my BS/MS in Aerospace Engineering from <a href="https://www.iitm.ac.in/">IIT Madras</a>, where I worked in <a href="https://raftlab.iitm.ac.in/index.html">Prof Ranjith Mohan's</a> lab on Aerial and Ground Robot Collaborative Navigation systems
              </p>
              <p>
                I learn by teaching and as part of that effort I jot down my thoughts on concepts I learn. You can find this in my  <a href="https://publish.obsidian.md/saikrn112" >obsidian second brain</a>.
              </p>
              <p style="text-align:center">
                <a href="CV.pdf">
                  <i class="fas fa-file-alt cv-icon"></i> 
                  CV
                </a> &nbsp;/&nbsp;
                <a target="_blank" href="https://mailhide.io/e/sHZHq2zI"> 
                  <i class="fas fa-envelope email-icon"></i> 
                  Email
                </a> 
                &nbsp;/&nbsp;
                <a href="https://github.com/saikrn112">
                  <i class="fab fa-github github-icon"></i> <!-- Corrected class name for GitHub icon -->
                  GitHub
                </a> 
                &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=ECJRb3UAAAAJ&hl">
                  <i class="fab fa-google google-scholar-icon"></i> <!-- Corrected class name for Google Scholar icon -->
                  Google Scholar
                </a> 
                &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/pinnama-ramana"> 
                  <i class="fab fa-linkedin linkedin-icon"></i> <!-- Corrected class name for LinkedIn icon -->
                  LinkedIn 
                </a>
                &nbsp;/&nbsp;
                <a href="https://publish.obsidian.md/saikrn112"> 
                  <!-- Obsidian Notes icon -->
                  <img src="icons/obsidian-icon.ico" class="obsidian-icon"> 
                  Obsidian Notes
                </a>
              </p>
              
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/ore4_circle.png">
            </td>
          </tr>
        </table>


        <div class="row">
          <table class="custom-table" width="100%" align="center" style="margin-top: 10px;">
              <tr>
                  <td align="center" width="15%" style="vertical-align: middle;">
                    <img src="images/torc.png" width="75%">
                </td>
                  <td align="center" width="15%" style="vertical-align: middle;">
                      <img src="images/belllabs.png" width="80%">
                  </td>
      
                  <td align="center" width="15%" style="vertical-align: middle; ">
                      <img src="images/wpi.png" width="80%">
                  </td>
      
                  <td align="center" width="15%" style="vertical-align: middle; ">
                      <img src="images/qb2.jpeg" width="70%">
                  </td>
                  <td align="center" width="15%" style="vertical-align: middle; ">
                    <img src="images/qb2.jpeg" width="70%">
                </td>
    

                  <td align="center" width="15%" style="vertical-align: middle; ">
                      <img src="images/iitm.png" width="80%">
                  </td>
              </tr>
      
              <tr>
                <td align="center" style="vertical-align: middle; ">
                  <b ">Computer Vision and Deep Learning Intern</b><br>Torc Robotics<br>Aug 2023 - Dec 2023
              </td>
    
                <td align="center" style="vertical-align: middle; ">
                    <b ">Perception and Localization Intern</b><br>Nokia Bell Labs<br>Summer 2023<br>Feb 2024 - Present</rb>
                </td>
    
                <td align="center" style="vertical-align: middle; ">
                    <b ">M.Sc Robotics </b><br>WPI<br>2022-2024
                </td>
    
                <td align="center" style="vertical-align: middle; ">
                    <b ">Senior C++ Developer</b><br>Quantitative Brokers<br>Aug 2020 - July 2022
                </td>

                <td align="center" style="vertical-align: middle; ">
                  <b ">C++ Developer</b><br>Quantitative Brokers<br>July 2018 - July 2020
                </td>
    
                <td align="center" style="vertical-align: middle; ">
                    <b ">B.Tech/M.Tech Aerospace Engineering</b><br>IITM<br>2013-2018
                </td>
            </tr>
          </table>
      </div>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in math, computer vision, machine learning, optimization, graphics and their applications to robotics.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' and post.status == 'active'%}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              {% if post.venue %}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a>
              {% endif %}
              {% if post.ieee %}
              <a href="{{post.ieee}}">IEEE Paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.gitlab_code %}
              <a href="{{post.gitlab_code}}">Aerial vehicle stack</a> /
              {% endif %}
              {% if post.github_code %}
              <a href="{{post.github_code}}">Ground vehicle Stack</a>
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>


        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Work Experience</h2>
              <p>I have worked in variety of domains but majorly in the industry of low-latency programmatical optimizations. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'work' and post.status == 'active'%}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.role}}</em>
              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br> -->


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
              <p> These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'work' and post.status == 'active' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <!-- <br> -->
              <!-- <em>{{post.categories}} {{post.course}}</em> -->
              <!-- <br> -->
              <!-- {{ post.date | date: "%Y-%m-%d" }} -->

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.project_page %}
              <a href="{{post.project_page}}">project page</a> 
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website fork of Leonid Keselman</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

